body {
  background-color: gray;
  color: black;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

#data {
  color: white;
  margin: 20px 0px;
}

h1 {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  padding: 10px 15px;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: larger;
  padding-bottom: 4px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  padding: 4px;
  border-radius: 5px;
  background-color: crimson;
  color: navajowhite;
  width: fit-content;
}

input {
  width: 400px;
  padding: 4px;
  border-radius: 6px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
